.input {
    width: 350px
}

.textarea {
    width: 350px;
    height: 115px;
}

.small-spacing {
    height: 7px;
}

.send {
    height:40px;
    color: white;
    background: #3578E5;
}

.info {
    width: 400px
}