html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Text fonts */
.txt-sm {
  font-size: 0.9rem;
  line-height: 1.25rem;
}

.txt-md {
  font-size: 1.1rem;
  line-height: 1.5rem;
}

.txt-lg {
  font-size: 1.3rem;
  line-height: 1.7rem;
}

.fw-5 {
  font-weight: 500;
}

.fw-6 {
  font-weight: 600;
}

.fw-7 {
  font-weight: 700;
}
.icon-sm {
  width: 30px;
  height: 30px;
}

/* border and outline */
.border-outline-none {
  border: none;
  outline: none;
}
.border-none {
  border: none;
}
.outline-none {
  outline: none
}

.border-rounded {
  border-radius: 50%
}

.border-8px {
  border-radius: 8px
};

.item-center {
  display: flex;
  justify-content: center;
}


/* background and colors */
.bg-none {
  background: none;
}
